#main {
  background-color: #001f3f;
}

.tech-stack {
  /*  background-color: red; */
  border: 2px dotted green;
  margin-top: 50px;
  height: 430px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: block;
}
.tech-stack-title {
  margin-right: 50px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  font-family: "Arima", cursive;
}
.tech-stack-des {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  font-size: 20px;
  font-family: "Yatra One", cursive;
}
.tech-stack p {
  color: white;
}
.tech-stack h3 {
  color: white;
}
@media only screen and (min-width: 512px) and (max-width: 986px) {
  .tech-stack {
    height: 650px;
  }
}
@media only screen and (max-width: 512px) {
  .tech-stack {
    height: 900px;
  }
}

.nav-text {
  color: orange;
  font-weight: bold;
}
